# node_modules
node_modules/*
frontend/node_modules/*
frontend/qa/node_modules/*

# build
**/dist/*

# IDE / OS
.idea
.vscode
.DS_Store

# env
scg-0.80.0.tar.gz
/backend/.env-iam

# temp uploads
**/__uploads

**/.env

# Kubernetees secrets
**/secrets.env

# QA artifacts
frontend/qa/test-results/
frontend/qa/test-results/assets
frontend/qa/@rerun.txt
frontend/qa/*.deb

#jest
frontend/coverage

