// '_COLORS.SCSS' - IMPORTED INTO APP.SCSS

// BRAND
$brand: #e55d3d;

// WHITES
$white: #fff;

// BLACKS
$black: ndtp.$deep-navy;

// REDS
$red: #bd0000;
$red-dark: #990000;
$red-pin: #c64242;
$red-incident-stage: #e80202;

// GREYS
$grey-dark: #333;
$grey-mid: #ccc;
$grey-light: ndtp.$off-white;
$grey-footer: #979797;
$grey-incident-stage: #fff;

// ORANGES
$orange-incident-stage: ndtp.$accent-yellow;

// PURPLES
$purple-incident-stage: #cc3399;

// BLUES
$blue: ndtp.$primary-color;
$blue-dark: ndtp.$secondary-color;
$blue-light: #bcd4ea;
$blue-header: ndtp.$secondary-color; // #00162b; // 7, 33, 66
$purple: #2c026a;
$turquoise: #73ede4;

// GREENS
$green: #58822e;

// YELLOWS
$gold: #f0b600;
$yellow: ndtp.$accent-yellow;

// TYPOGRAPHY
$section-light-text: #444;
$section-dark-text: #e6e6e6;
