// '_FOOTER.SCSS' - IMPORTED INTO APP.SCSS

@import 'colors';

footer {
  height: 150px;
  padding-top: 5px;
  background-color: $grey-footer;
  border-top: 5px solid $blue-header;
  color: $black;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  font-size: 0.9rem;
  text-align: right;
  .footer-irc, .footer-logo {
    position: absolute;
    bottom: 60px;
  }
  .footer-irc {
    left: 20px;
    color: $white;
  }
  .footer-logo {
    left: 20px;
    bottom: 70px;
    svg, img {
      width: 70px;
      height: auto;
    }
  }
  .feedback {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $blue;
    padding: 10px 8px 8px 38px;
    text-align: center;
    a:link, a:visited, a:active {
      color: $white;
    }
    a:hover {
      color: $gold;
    }   
    svg {
      position: relative;
      width: 18px;
      height: auto;
      color: $white;
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 600px) {
    .footer-irc, .footer-logo {
      left: 20px;
      right: unset;
    }
    .footer-logo {
      bottom: unset;
      top: 30px;
    }
    .footer-irc {
      bottom: unset;
      top: 40px;
    }
  }
}
