@import 'colors';

.container {
  .page-title {
    label.include-closed {
      font-size: 1.15rem;
    }
  }
}

.incident-list {
  .incident {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-bottom: solid 1px $grey-mid;
    margin-bottom: 10px;

    &:hover, &:active, &:focus {
      background-color: $grey-light;
    }

    .incident-title {
      font-size: 1.15rem;
      font-weight: bold;
    }
  }
}

.incident-stage {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  text-align: left;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #111;
  min-width: 180px;
  svg {
    width: 35px;
    height: auto;
  }

  .str1 {stroke:#666666;stroke-width:13.1;stroke-miterlimit:2.61313;stroke-opacity:0.129412}
  .str0 {stroke:#666666;stroke-width:13.1;stroke-miterlimit:2.61313}
  .fil10 {fill:none}
  .fil0 {fill:#666666}
  .fil4 {fill:black;fill-opacity:0.129412}
  .fil11 {fill:white;fill-opacity:0.141176}
  .fil7 {fill:#1A1A1A;fill-opacity:0.200000}
  .fil8 {fill:white;fill-opacity:0.200000}
  .fil3 {fill:white;fill-rule:nonzero;fill-opacity:0.258824}
  .fil6 {fill:white;fill-opacity:0.301961}
  .fil9 {fill:white;fill-opacity:0.521569}
  .fil12 {fill:white;fill-opacity:0.811765}
  .fil1 {fill:url(#id3)}
  .fil16 {fill:url(#id4)}
  .fil5 {fill:url(#id5)}
  .fil14 {fill:url(#id6);fill-opacity:0.200000}
  .fil15 {fill:url(#id7);fill-opacity:0.200000}
  .fil13 {fill:url(#id8);fill-opacity:0.200000}

  // Default = Closed
  .stageColour {
    fill: $grey-incident-stage;
  }
  
  &.Closed .stageColour {
    fill: $grey-incident-stage;
  }

  &.Monitoring .stageColour {
    fill: $orange-incident-stage;
  }
  &.Response .stageColour {
    fill: $red-incident-stage;
  }
  &.Recovery .stageColour {
    fill: $purple-incident-stage;
  }
}
