// '_LINKS/BUTTONS.SCSS' - IMPORTED INTO APP.SCSS

@use 'colors';
@use 'ndtp';

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: colors.$blue;
  font-family: ndtp.$font-family;
  border-bottom: 1px solid transparent;
}
