// '_LINKS/BUTTONS.SCSS' - IMPORTED INTO APP.SCSS

@use 'colors';

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: colors.$blue;
  font-family: lato-bold, serif;
  border-bottom: 1px solid transparent;
}
