@use "colors";

.container--location {
  .map-container {
    position: relative;
    height: calc(100vh - 250px);
    min-height: 500px;
  }
  .log-entry-list {
    position: absolute;
    bottom: 10px;
    left: 14px;
    width: calc(100% - 68px);
    max-width: 960px;
    .item {
      margin-bottom: 0;
      max-height: 240px;
      overflow-y: scroll;
      overflow-x: visible;
      overscroll-behavior: contain;
      &--highlighted {
        border: none;
      }
      &__header {
        padding-right: 60px;
      }
    }
    .close-info, .visit-log {
      position: absolute;
      top: 3px;
      height: 24px;
      width: 24px;
      border: solid 1px colors.$black;
      background-color: colors.$grey-light;
      padding: 0;
      cursor: pointer;

      svg {
        height: 10px;
        width: auto;
      }
    }
    .visit-log {
      right: 30px;
    }
    .close-info {
      right: -2px;
    }

    @media screen and (max-width: 1240px) {
      // Reduce so as to not hide the zoom controls
      width: calc(100% - 68px);
    }
  }
}
