// '_NAVIGATION.SCSS' - IMPORTED INTO APP.SCSS

@use 'colors';

nav {
  display: inline-block;
  @media screen and (max-width: 1050px) {
    position: absolute;
    z-index: 100;
    top: 63px;
    left: 0;
    width: 100%;
    background-color: colors.$blue-header;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.nav-menu-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 55px;
  background-color: colors.$blue-header;
  .arrow-down {
    position: absolute;
    color: colors.$gold;
    width: 10px;
    height: auto;
    margin-left: 5px;
    top: -2px;
  }
  img {
    width: 150px;
  }
  ul {
    list-style-type: none;
    font-size: 1rem;
    padding: 14px 0 0 12px;
    margin: 0;

    &.non-incident {
      padding: 4px 28px 0 28px;
      background-color: colors.$blue-dark;
      border-right: solid 2px colors.$blue-header;
    }

    @media screen and (max-width: 1050px) {
      display: block;
      padding: 0 0 0 12px;

      &.non-incident {
        padding: 0 0 0 12px;
        background-color: colors.$blue-header;
        border-right: none;
      }
    }

    li {
      margin-top: 6px;
      display: inline-block;
      margin-right: 40px;
      vertical-align: top;
      &:first-of-type {
        margin-right: 32px;
        padding-top: 11px;
      }
      &:last-of-type {
        margin-right: 0;
      }
      a:link,
      a:visited,
      a:active {
        color: colors.$white;
        transition: color 0.3s;
      }
      a:hover {
        color: colors.$gold;
      }
      &.selected > a {
        color: colors.$yellow;
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.5rem;
      }
      @media screen and (max-width: 1050px) {
        display: block;
        margin-right: 0;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 100%;
        background-color: colors.$blue-header;
        a:link,
        a:visited,
        a:active {
          font-size: 1.15rem;
        }
      }
    }
  }

  @media screen and (max-width: 1050px) {
    flex-direction: column;
    gap: 0;
  }
}

.nav-menu-links.nav-hidden-small {
  @media screen and (max-width: 1050px) {
    display: none;
  }
}
