@import 'colors';

.react-select {
  &__control, &__menu {
    background-color: $white;
    font-size: 1.15rem;
    color: $blue-dark;
    font-family: lato-reg, Arial, Helvetica, sans-serif;
    font-weight: 400;
    border: solid 1px $grey-mid;
    border-radius: 0; // TODO: Should all inputs and selects have rounded corners?
    text-align: left;
  }
  &__control {
    padding: 6.5px;
    &--menu-is-open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:focus-within {
      outline: auto $blue 1px !important;
    }
  }
  &__menu {
    top: 100%;
    position: absolute;
    z-index: 1;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.1) 0px 4px 11px;
    margin-top: 0;
    margin-bottom: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
  }
  &__menu-list {
    max-height: 237px !important;
    overflow-y: auto;
    position: relative;
    padding: 0 0 4px 0;
    box-sizing: border-box;
  }
  &__option {
    display: block;
    font-size: inherit;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: transparent;
    color: inherit;
    box-sizing: border-box;
    &--is-focused {
      background-color: $blue-dark;
      color: $white;
    }
    &--is-selected {
      background-color: $blue;
      color: $white;
    }
  }
  &__group-heading, &__option, &__menu-notice {
    padding: 8px 10px;
    text-align: left !important;
  }
  &__option, &__indicator {
    cursor: pointer !important;
  }
  &__clear-indicator + &__indicator-separator {
    margin: 0 4px;
    border-left: dotted 2px $blue-dark;
  }
  &__group {
    padding-bottom: 8px;
  }
  &__group-heading {
    background-color: $grey-light;
    border-bottom: solid 1px $grey-mid;
    color: $black;
  }
  &__option, &__single-value {
    .option-label {
      display: flex;
      flex-direction: row;
      gap: 0;
      width: 100%;
      &__index {
        display: inline-block;
        width: 30px;
        min-width: 30px;
        margin-right: 1.55rem;
        text-align: right;
        &:has(+ .option-label__sub-index) {
          margin-right: 0;
        }
      }
      &__sub-index {
        display: inline-block;
        width: 1.5rem;
        min-width: 1.5rem;
        margin-left: -0.2rem;
        margin-right: 0.25rem;
      }
    }
  }
  &__single-value {
    .option-label {
      &__index {
        margin-right: 0;
      }
      &__index {
        width: unset;
        min-width: unset;
        margin-right: 0.5rem;
        &:has(+ .option-label__sub-index) {
          margin-right: 0;
        }
      }
      &__sub-index {
        width: unset;
        min-width: unset;
        margin-left: -0.2rem;
        margin-right: 0.5rem;
      }
    }
  }
}
